<header>
    <h1><a href="/">My Library</a></h1>
    <nav>
        <div class="nav-section">
            <a href="/authors">Authors</a>
            <a href="/authors/new">Add author</a>    
        </div>
        <div class="nav-section">
            <a href="/books">Books</a>
            <a href="/books/new">Add book</a>
        </div>
    </nav>
</header>