<label for="givenName">Given name</label>
<input type="text" name="givenName" id="givenName" value="<%= author.givenName %>">
<br>
<label for="familyName">Family name</label>
<input type="text" name="familyName" id="familyName" value="<%= author.familyName %>">